/* Général */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Parkinsans", sans-serif;
    background-color: #000000;
}

/* Navbar */

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 85px;
}

nav img {
    width: 150px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.moncompte {
    border: 3px solid white;
    padding: 5px 10px;
}

.moncompte:hover {
    background-color: white;
    color: #000000;
}

.gauche {
    border-left: 3px solid white;
    padding-left: 20px;
}

.droite {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

/* Navbar - Responsive */

@media (max-width: 650px) {
    nav {
        align-items: center;
    }
    nav img {
        width: 120px;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
    .gauche {
        display: none;
    }
    .droite {
        width: 100%;
        justify-content: flex-end;
        padding: 10px;
    }
    .moncompte {
        font-size: 14px;
    }
}

/* Titre */

.titre {
    background-image: url('img/fond3.jpeg');
    background-size: cover;
    background-position: right 50% bottom 40%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.titre h1 {
    font-family: "Jaro", sans-serif;
    font-size: 80px;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

.titre h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.transition {
    height: 30px;
    background-color: #000000;
    filter: blur(10px);
}

/* Titre - Responsive */

@media (max-width: 650px) {
    .titre h1 {
        font-size: 50px;
    }
    .titre h4 {
        font-size: 20px;
    }
}

/* Catalogue */

.catalogue {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.catalogue h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.recherche input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.pagination button {
    background-color: #000000;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: white;
    color: #000000;
}

.pagination span {
    color: white;
    font-size: 16px;
    margin: 0 10px;
    font-weight: bold;
}

/* Catalogue - Responsive */

@media (max-width: 480px) {
    .catalogue h2 {
        font-size: 35px;
    }

    .recherche input {
        width: 80%;
        font-size: 14px;
    }

    .pagination {
        flex-direction: column;
        gap: 10px;
    }

    .pagination button {
        width: 100%;
        padding: 8px;
        font-size: 14px;
    }

    .pagination span {
        font-size: 14px;
        margin: 5px 0;
    }
}

/* Catalogue Contenu */

.catalogue-contenu {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.catalogue-contenu p {
    color: white;
}

.carte {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    color: white;
    transition: transform 0.3s ease;
}

.carte:hover {
    transform: scale(1.05);
}

.affiche {
    width: 100%;
    height: 60%;
    display: block;
}

.infos {
    padding: 15px;
}

.infos h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.infos p {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 20px;
}

.voir-plus {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px 3px;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 90%;
}

.voir-plus:hover {
    background-color: white;
    color: #000000;
}

/* Catalogue Contenu - Responsive */

@media (max-width: 450px) {
    .catalogue-contenu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px;
    }

    .carte {
        width: 80%;
    }

    .infos h3 {
        font-size: 16px;
    }

    .infos p {
        font-size: 12px;
    }

    .voir-plus {
        font-size: 14px;
        width: 100%;
    }
}

/* Pop-Up */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    max-width: 90%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.popup-content {
    border: 2px solid white;
    background-color: #111;
    border-radius: 10px;
    max-width: 1000px;
    width: 90%;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
}

.fermer {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.popup-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.popup-affiche {
    width: 150%;
    height: auto;
    border-radius: 10px;
}

.popup-infos {
    padding: 15px;
}

.popup-infos h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.popup-infos p {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}

.popup-desc {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 30px;
}

.popup-lien {
    display: block;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
}

.popup-lien a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Pop-Up - Responsive */

@media (max-width: 750px) {
    .popup {
        width: 80%;
        height: auto;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-content {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .popup-affiche {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin: 0 auto;
        padding-top: 30px;
    }

    .popup-infos {
        padding: 10px;
    }

    .popup-infos h3 {
        font-size: 18px;
    }

    .popup-infos p,
    .popup-desc {
        font-size: 14px;
    }

    .popup-lien {
        font-size: 14px;
        padding: 8px 15px;
        margin-top: 20px;
    }

    .fermer {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .popup {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: auto;
        padding: 8px;
    }

    .popup-content {
        padding: 8px;
    }

    .popup-affiche {
        max-width: 200px;   
    }

    .popup-infos h3 {
        font-size: 16px;
    }

    .popup-infos p,
    .popup-desc {
        font-size: 12px;
    }

    .popup-lien {
        font-size: 12px;
        padding: 6px 10px;
        margin-top: 15px;
    }

    .fermer {
        font-size: 20px;
    }
}

/* Footer */

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.reseaux-sociaux {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.reseaux-sociaux img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.reseaux-sociaux img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.footer-credits {
    font-size: 12px;
    margin-top: 10px;
}

/* Mon Compte */

titre h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

titre h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.moncompte-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.moncompte-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.moncompte-content {
    background-color: #111;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    color: white;
}

.moncompte-form {
    display: flex;
    flex-direction: column;
}

.moncompte-form label {
    margin-bottom: 10px;
    font-size: 16px;
}

.moncompte-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 16px;
}

.moncompte-form button {
    background-color: #000000;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.moncompte-form button:hover {
    background-color: white;
    color: #000000;
}

.moncompte-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.moncompte-actions button {
    background-color: #000000;
    color: rgb(150, 2, 2);
    border: 2px solid rgb(150, 2, 2);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.moncompte-actions button:hover {
    background-color: rgb(150, 2, 2);
    color: white;
}