* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Parkinsans", sans-serif;
}

/* NAV BAR */

nav {
    background-color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 85px;
}

nav img {
    width: 150px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.moncompte {
    border: 3px solid white;
    padding: 5px 10px;
}

.gauche {
    border-left: 3px solid white;
    padding-left: 20px;
}

.droite {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

/* TITRE */

.titre {
    background-image: url('img/fond3.jpeg');
    background-size: cover;
    background-position: right 50% bottom 40%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.titre h1 {
    font-family: "Jaro", sans-serif;
    font-size: 80px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.titre h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}